plan {
    mode = "run";
    entry { kind = "function"; target = "main"; }
    src { path = "@DIR@/greet.ext"; moduleId = ""; origin = ""; }
    src { path = "@DIR@/app.ext"; moduleId = ""; origin = ""; }
}
